.popup-overlay{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    display: none;

}
.gallery{
    width: 100%;
    position: absolute;
    left: 50%;
    margin-top: 10px;
    margin-left: -50%;
}
.modal-popup {
    display: none;
    background-color: #454545;
    width: 50%;
    height: 400px;
    left: 50%;
    position: fixed;
    margin-left: -20%;
    margin-top: -200px;
    top: 50%;
    z-index: 7;
}
.modal-close {
    font-size: 3rem;
    color: #ffffff;
    position: absolute;
    right: 5px;
    cursor: pointer;
}
img.min {
    width: 300px;
    height: 150px;
}
a.image{

}



