.contentWrapper {
    display: flex;
    background-color: gainsboro;
    border-radius: 20px;
    width: 25%;
    height: 25%;

}
li {
    margin: 2px;
    display: flex;
    background-color: gainsboro;
    border-radius: 20px;
    width: 100px;
    height: 50px;
}
.tabWrapper {
    display: flex;
    align-items: center;
}